<div class="col-xs-10 col-xs-offset-1">
  <div class="form-group">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title, class: "form-control input-lg" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: 20 %>
  </div>
  <%- if f.object.persisted? %>
    <ul>
      <%- f.object.assets.each do |asset| %>
        <li>![](<%= asset.attachment.url %>)</li>
      <% end %>
    </ul>
    <%= f.fields_for f.object.assets.build do |ff| %>
      <div class="form-group">
        <%= ff.file_field :attachment, class: "form-control" %>
      </div>
    <% end %>
  <% end %>
</div>
